body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ul {
  list-style: none;
} */

/* .list {
  display: flex;
}

.list__item {
  margin-left: 10px;
} */
.wrapper {
  padding: 5rem;
  margin: 0 auto;
  width: 400px;
}

.btn {
  background-color: rgb(202, 52, 52);
  color: aliceblue;
  border: inherit;
  width: 25px;
  border-radius: 4px;
  transition: background-color linear 250ms;
}

.btn:hover {
  background-color: rgb(41, 74, 112);
}

.done {
  text-decoration: line-through;
}
